{% extends "base.html" %}

{% block content %}
<h1>Add Patient</h1>
<form method="post"> 
    {% csrf_token %} <!--#Damit keiner die Requests fälscht-->
    <div>
        <label for="firstname">First name</label>
        <input type ="text" id ="fistname" name="firstname" value ="{{patient.first_name}}" />
    </div>
    <div>
        <label for="lastname">Last name</label>
        <input type ="text" id ="lastname" name="lastname" value ="{{patient.last_name}}" />
    </div>
    <div>
        <label for="birthday">Birthday</label>
        <input type ="datetime-local" id ="birthday" name="birthday" value ="{{patient.birthday|date:'Y-m-d\TH:i'}}" />
    </div>
    <div>
        <label for="svnr">SNVR</label>
        <input type ="text" id ="svnr" name="svnr" value ="{{patient.svnr}}"/>
    </div>
    <div>
        <input type="submit" />
    </div>
</form>
{{ isSVNRValid }}

{% endblock content %}