{% extends "base.html" %}

{% block content %}
{% for patient in patients %} 
    <div>
        <p> First Name: {{ patient.first_name }} </p> <!--2 mal "{" um etwas auszugeben-->
        <p> Last Name:{{ patient.last_name }} </p>
        <p> Birtdate: {{ patient.birthday }} </p>
        <p> SVNR: {{patient.svnr}} </p>
        <button>
            <a href="/patients/edit/{{patient.id}}">Edit</a>
        </button>
        <button>
            <a href="/patients/delete/{{patient.id}}">Delete</a>
        </button>
    </div>
    <hr/>
{% endfor %}
<button>
    <a href = "/patients/add/">Add Patients</a>
</button>

{% endblock content %}